textarea {
    resize: none;
}

* {
    text-decoration: none;
    font-family: "Varela Round", "-apple-system", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif !important;
}

.boder-none {
    border: none !important;
}

.slide-perfil div {
    height: 100% !important;
    width: 100% !important;
}

.gif-other {
    padding: 0px;
    padding-left: 0px;
    margin: 0px;
}

.color-light-grey {
    color: #cec9c9 !important;
}

.bg-grey {
    background-color: #585858 !important;
}

.bar-subheader {
    top: 44px;
    height: 44px;
    background-color: #333333;
}

.box-shadow-content {
    -webkit-box-shadow: 0px -17px 15px 18px rgba(235,97,235,1);
    -moz-box-shadow: 0px -17px 15px 18px rgba(235,97,235,1);
    box-shadow: 0px -17px 15px 18px rgba(235,97,235,1);
}

.box-shadow-header {
    -webkit-box-shadow: 0px -17px 5px 21px rgba(51,51,51,1);
    -moz-box-shadow: 0px -17px 5px 21px rgba(51,51,51,1);
    box-shadow: 0px -17px 5px 21px rgba(51,51,51,1);
}

.bg-dark {
    background-color: #333333 !important;
}

.color-dark {
    background-color: #333333 !important;
}

img {
    display: block;
    margin: 0 auto;
}

.titulo-left {
    text-align: left;
}

figure {
    display: block;
    position: relative;
    overflow: hidden;
}

figcaption {
    position: absolute;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 10px 20px;
    width: 100%;
    font-size: 16px;
    bottom: 0px;
    -webkit-transition: all 0.6s ease;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
}

    figcaption.bg-titulo-baladas {
        background: rgba(56,56,56,0);
        background: -moz-linear-gradient(top, rgba(56,56,56,0) 0%, rgba(64,64,64,0) 0%, rgba(59,59,59,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(56,56,56,0)), color-stop(0%, rgba(64,64,64,0)), color-stop(100%, rgba(59,59,59,1)));
        background: -webkit-linear-gradient(top, rgba(56,56,56,0) 0%, rgba(64,64,64,0) 0%, rgba(59,59,59,1) 100%);
        background: -o-linear-gradient(top, rgba(56,56,56,0) 0%, rgba(64,64,64,0) 0%, rgba(59,59,59,1) 100%);
        background: -ms-linear-gradient(top, rgba(56,56,56,0) 0%, rgba(64,64,64,0) 0%, rgba(59,59,59,1) 100%);
        background: linear-gradient(to bottom, rgba(56,56,56,0) 0%, rgba(64,64,64,0) 0%, rgba(59,59,59,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383838', endColorstr='#3b3b3b', GradientType=0 );
    }

.bg-header-gradient {
    background: rgba(115,115,115,1);
    background: -moz-linear-gradient(top, rgba(115,115,115,1) 0%, rgba(110,110,110,1) 0%, rgba(128,128,128,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(115,115,115,1)), color-stop(0%, rgba(110,110,110,1)), color-stop(100%, rgba(128,128,128,0)));
    background: -webkit-linear-gradient(top, rgba(115,115,115,1) 0%, rgba(110,110,110,1) 0%, rgba(128,128,128,0) 100%);
    background: -o-linear-gradient(top, rgba(115,115,115,1) 0%, rgba(110,110,110,1) 0%, rgba(128,128,128,0) 100%);
    background: -ms-linear-gradient(top, rgba(115,115,115,1) 0%, rgba(110,110,110,1) 0%, rgba(128,128,128,0) 100%);
    background: linear-gradient(to bottom, rgba(115,115,115,1) 0%, rgba(110,110,110,1) 0%, rgba(128,128,128,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#737373', endColorstr='#808080', GradientType=0 );
    border: none;
}

.bg-gradient {
    background: rgba(5,5,5,1);
    background: -moz-linear-gradient(top, rgba(5,5,5,1) 0%, rgba(226,226,226,1) 0%, rgba(3,3,3,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(5,5,5,1)), color-stop(0%, rgba(226,226,226,1)), color-stop(0%, rgba(3,3,3,1)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top, rgba(5,5,5,1) 0%, rgba(226,226,226,1) 0%, rgba(3,3,3,1) 0%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top, rgba(5,5,5,1) 0%, rgba(226,226,226,1) 0%, rgba(3,3,3,1) 0%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top, rgba(5,5,5,1) 0%, rgba(226,226,226,1) 0%, rgba(3,3,3,1) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom, rgba(5,5,5,1) 0%, rgba(226,226,226,1) 0%, rgba(3,3,3,1) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#050505', endColorstr='#000000', GradientType=0 );
}

.circle-button {
    height: 52px;
    width: 52px;
    border-radius: 50px;
    border: none;
    font-size: 16px;
}

.slider-slide h3 {
    color: #fff;
    margin-top: 10px;
}

.scroll {
    height: 100%;
}

.tabbed-slidebox .tsb-icons:after {
    display: none !important;
}

.tsb-icons:after {
    display: none !important;
}

.button.button-grey {
    border-color: #585858;
    background-color: #585858;
    color: #fff;
}

    .button.button-grey:hover {
        color: #fff;
        text-decoration: none;
    }

    .button.button-grey.active, .button.button-grey.activated {
        border-color: #585858;
        background-color: #686868;
        box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
    }

    .button.button-grey.button-clear {
        border-color: transparent;
        background: none;
        box-shadow: none;
        color: #585858;
    }

    .button.button-grey.button-icon {
        border-color: transparent;
        background: none;
    }

    .button.button-grey.button-outline {
        border-color: #585858;
        background: transparent;
        color: #585858;
    }

        .button.button-grey.button-outline.active, .button.button-grey.button-outline.activated {
            background-color: #585858;
            box-shadow: none;
            color: #fff;
        }

.light {
    background-color: #2E2E31;
}

.linegrey {
    background-color: #2E2E31;
    border: none;
    border-bottom: 1px solid #8DB4B4;
}

.top180 {
    margin-top: 180px;
}

input.white {
    color: #fff;
    font-size: 18px;
}

.right8 {
    right: 8px;
}

.light-grey {
    background-color: #EDEBEE;
    border: 0px;
}

.line-light-grey {
    background-color: #EDEBEE;
    border: none;
    border-bottom: 1px solid #9c27b0;
}

.line-light-white {
    color: #fff;
    border: none !important;
    border-bottom: 1px solid #fff !important;
}

.bottommsg {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: rgba(0,0,0,0.9);
    z-index: 9999;
}

.button-send {
    width: 50px !important;
    height: 50px !important;
    color: #fff !important;
    background-color: #8DB4B4 !important;
    font-size: 18px !important;
    border: none !important;
    margin-left: 5px !important;
}

.circle {
    border-radius: 50% !important;
}

.width70 {
    width: 75%;
    margin-right: 0px;
}

.log {
    text-align: center;
    font-size: 13px;
    padding: 7px 14px 7px 14px;
}

.mensagem {
    margin-top: 10px;
    border-radius: 5px;
    padding: 1px 14px 1px 14px;
    font-size: 16px;
}

    .mensagem b {
        font-size: 14px;
    }

    .mensagem .horario {
        margin: 0px;
        width: 100%;
        font-size: x-small;
        text-align: right;
    }

    .mensagem .text {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

.padding-top-0 {
    padding-top: 0px !important;
}

/*.content {
    bottom: 65px;
}*/

.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.text-align-right {
    text-align: right !important;
}

.text-align-left {
    text-align: left !important;
}

.padding-3 {
    padding: 3px !important;
}

.padding-15 {
    padding: 15px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-bottom-15 {
    padding-bottom: 15px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-60 {
    padding-bottom: 60px !important;
}

.padding-bottom-120 {
    padding-bottom: 120px !important;
}

.padding-right-5 {
    padding: 0 !important;
    padding-right: 5% !important;
}

.padding-left-0 {
    padding-left: 0% !important;
}

.padding-left-5 {
    padding: 0 !important;
    padding-left: 5% !important;
}

.padding-right-10 {
    padding: 0 !important;
    padding-right: 10% !important;
}

.padding-left-10 {
    padding: 0 !important;
    padding-left: 10% !important;
}

.top-10 {
    margin-top: 10px !important;
}

.top-20 {
    margin-top: 20px !important;
}

.bottom-20 {
    margin-bottom: 20px !important;
}

.bottom-30 {
    margin-bottom: 30px !important;
}

.bottom-60 {
    margin-bottom: 60px !important;
}




/////////////////////////////////////////////// img {
    object-fit: cover;
}

.text-muted {
    color: #6d6d72 !important;
}
/* === Color Themes === */
.color-gray {
    color: #8e8e93 !important;
}

.color-red {
    color: #ff3b30 !important;
}

.bg-color-red {
    background-color: #ff3b30 !important;
}

.color-white {
    color: #ffffff !important;
}

.color-yellow {
    color: #ffcc00 !important;
}

.bg-color-yellow {
    background-color: #ffcc00 !important;
}

.color-green {
    color: #4cd964 !important;
}

.color-orange {
    color: #ff9500 !important;
}

.bg-color-orange {
    background-color: #ff9500 !important;
}

.color-blue {
    color: #007aff !important;
}

.bg-color-blue {
    background-color: #007aff !important;
}

.color-lightblue {
    color: #5ac8fa !important;
}

.bg-color-lightblue {
    background-color: #5ac8fa !important;
}

.color-bluegray {
    color: #607d8b !important;
}

.bg-color-bluegray {
    background-color: #607d8b !important;
}

.color-night {
    color: #2B1B17 !important;
}

.color-black {
    color: black !important;
}

.bg-color-white {
    background-color: #ffffff;
}

.bg-color-green {
    background-color: #4cd964 !important;
}

.about-header {
    /*background-color: #444;*/
    height: 230px;
    overflow: hidden;
    /*box-shadow: 0 -70px 150px;*/
}

.about-image {
    width: 100%;
    /*height: 220px;*/
    height: 100%;
    object-fit: cover;
}

.edit-img-btn {
    top: 160px;
    display: block;
    position: absolute;
}

.edit-profile-btn {
    top: 220px;
    display: block;
    position: absolute;
}

.like-button {
    border-radius: 500px;
    width: 70px;
    float: right;
    height: 70px;
    z-index: -200;
    text-align: center;
    overflow: hidden;
    clear: both;
    color: white;
    border: 5px solid #CBD0D3;
}

    .like-button i {
        font-size: 40px;
        margin: 11px 0;
        display: block;
    }

.like-button-with-text {
    border-radius: 500px;
    width: 70px;
    float: right;
    height: 70px;
    z-index: -200;
    text-align: center;
    overflow: hidden;
    clear: both;
    color: white;
    border: 5px solid #CBD0D3;
}

    .like-button-with-text i {
        font-size: 35px;
        margin: 4px 0;
        display: block;
        margin-bottom: -3px !important;
    }

    .like-button-with-text span {
        font-size: 11px;
    }

.profile-media {
    background: #000;
    min-height: 237px;
    overflow: hidden;
    position: relative;
}

    .profile-media .profile-background-image {
        opacity: 0.3;
        position: absolute;
        object-cover: fit;
        top: -100%;
        left: 0;
        right: 0;
        bottom: -100%;
        margin: auto;
    }

    .profile-media .profile-details {
        text-align: center;
        position: absolute;
        width: 100%;
        color: #fff;
        padding: 20px 5% 0 5%;
    }

        .profile-media .profile-details .profile-image {
            width: 76px;
            height: 76px;
            object-cover: fit;
            border: 4px solid rgba(255, 255, 255, 0.9);
        }

.img-chat {
    border-radius: 50% !important;
    width: 60px;
    height: 60px;
}

.escrevendo {
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 10px rgba(145, 218, 0, 1), inset 0 1px 0 rgba(145, 218, 0, 1);
}

    .escrevendo::after {
        /* this is used to create the pulse animation */
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: inherit;
        background-color: transparent;
        -webkit-animation: cd-pulse 1s infinite;
        -moz-animation: cd-pulse 1s infinite;
        animation: cd-pulse 1s infinite;
    }

@-webkit-keyframes cd-pulse {
    0% {
        -webkit-transform: scale(1);
        box-shadow: inset 0 0 5px 5px rgba(217, 83, 83, 0.8);
    }

    50% {
        box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
    }

    100% {
        -webkit-transform: scale(1.6);
        box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
    }
}

@-moz-keyframes cd-pulse {
    0% {
        -moz-transform: scale(1);
        box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
    }

    50% {
        box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0.8);
    }

    100% {
        -moz-transform: scale(1.6);
        box-shadow: inset 0 0 1px 1px rgba(217, 83, 83, 0);
    }
}

@keyframes cd-pulse {
    0% {
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        box-shadow: inset 0 0 1px 1px rgba(145, 218, 0, 1);
    }

    50% {
        box-shadow: inset 0 0 1px 1px rgba(145, 218, 0, 1);
    }

    100% {
        -webkit-transform: scale(1.6);
        -moz-transform: scale(1.6);
        -ms-transform: scale(1.6);
        -o-transform: scale(1.6);
        transform: scale(1.6);
        box-shadow: inset 0 0 1px 1px rgba(145, 218, 0, 0);
    }
}

.logo {
    display: block;
    position: relative;
    width: 30%;
    margin: 0 auto;
}

.logoText {
    text-align: center;
    font-size: 28px;
    font-family: fantasy;
}

.item-note {
    font-size: 10px;
    margin-top: -22px;
    margin-right: -35px;
}

.textCenter {
    text-align: center;
}

.fundo-chat ion-content .bottommsg {
    background: linear-gradient(rgba(0, 128, 0, 0), rgba(180, 0, 255, 0.05), rgba(180, 0, 255, 0.10));
}

.imgCenter {
    text-align: center;
}

.botao {
    background-color: #2b84f1;
    font: 700 25px/25px 'Roboto', sans-serif;
    color: #fff;
    text-transform: uppercase;
    margin: 5px 0;
    /*padding: 6px 12px;*/
    border-radius: 2px;
    box-sizing: border-box;
    border: none;
    position: absolute;
    right: 10px;
    border-radius: 100px;
    width: 60px;
    height: 60px;
}

    .botao:focus {
        border-color: #fff;
    }

    .botao:active {
        border-color: #fff;
    }

    .botao.editar {
        top: 50px;
    }

    .botao.galeria {
        bottom: 160px;
    }

    .botao.camera {
        bottom: 80px;
    }

    .botao.plus {
        bottom: 15px;
    }

/* label color */
.input-field label {
    color: #000;
}
/* label focus color */
.input-field input:focus + label {
    color: #d500f9;
}
/* label focus color */
.input-field textarea:focus + label,
input:focus + label {
    color: #d500f9 !important;
}
/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #d500f9;
    box-shadow: 0 1px 0 0 #d500f9;
}
/* valid color */
.input-field input.valid {
    border-bottom: 1px solid #d500f9;
    box-shadow: 0 1px 0 0 #d500f9;
}
/* invalid color */
.input-field input.invalid {
    border-bottom: 1px solid #b71c1c !important;
    box-shadow: 0 1px 0 0 #b71c1c !important;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #d500f9;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:before,
[type="radio"].with-gap:checked + label:after {
    border: 2px solid #d500f9;
}

[type="radio"]:checked + label:after,
[type="radio"].with-gap:checked + label:after {
    background-color: #d500f9;
    z-index: 0;
}

.form-purple {
    border-bottom: 1px solid #d500f9 !important;
    box-shadow: 0 1px 0 0 #d500f9 !important;
}

.bottomSheetdemoBasicUsage .md-inline-list-icon-label {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -10px;
    height: 24px;
    vertical-align: middle;
}

.bottomSheetdemoBasicUsage .md-grid-item-content {
    height: 90px;
    padding-top: 10px;
}

    .bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
        height: 48px;
        width: 48px;
    }

.bottomSheetdemoBasicUsage .md-grid-text {
    padding-bottom: 5px;
}

.bottomSheetdemoBasicUsage md-list-item, .bottomSheetdemoBasicUsage md-list-item ._md-list-item-inner {
    min-height: 48px;
}

.bottomSheetdemoBasicUsage h2 {
    line-height: 36px;
    padding-top: 10px;
}

.bottomSheetdemoBasicUsage .md-subheader ._md-subheader-inner {
    padding: 0;
}

.bottomSheetdemoBasicUsage md-toast .md-toast-content {
    background-color: #B14141;
}

.bottomSheetdemoBasicUsage md-toast > * {
    font-weight: bolder;
}

.darken-4-color {
    color: #4a148c !important;
}

.accent-3-color {
    color: #d500f9 !important;
}

.padding-0px {
    padding: 0px !important;
}

.padding-top-5px {
    padding-top: 5px !important;
}

.padding-bottom-5px {
    padding-bottom: 5px !important;
}

.padding-bottom-30px {
    padding-bottom: 30px !important;
}

.padding-bottom-50px {
    padding-bottom: 50px !important;
}

.margin-0px {
    margin: 0px !important;
}

.margin-top-10px {
    margin-top: 10px !important;
}

.max-height-50px {
    max-height: 50px !important;
}

.accent-3-border-color {
    border-color: #d500f9 !important;
}

.content-fotos {
    margin-bottom: 50px;
    text-align: center;
    background-color: rgba(188, 135, 222, 0.21);
    min-height: 300px;
    width: 100%;
    padding-top: 2px;
    height: 358px;
}

    .content-fotos .preloader-wrapper {
        margin-top: 132px;
    }

.virtualRepeatdemoDeferredLoading #vertical-container {
    height: 292px;
    width: 100%;
    max-width: 400px;
}

.virtualRepeatdemoDeferredLoading .repeated-item {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    height: 40px;
    padding-top: 10px;
}

.virtualRepeatdemoDeferredLoading md-content {
    margin: 16px;
}

.virtualRepeatdemoDeferredLoading md-virtual-repeat-container {
    border: solid 1px grey;
}

.virtualRepeatdemoDeferredLoading .md-virtual-repeat-container .md-virtual-repeat-offsetter div {
    padding-left: 16px;
}

img.ca {
    z-index: -1;
}


.slider {
    height: 100%;
}

.slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

#logo {
    margin: 30px 0px;
}

#list {
    width: 170px;
    margin: 30px auto;
    font-size: 20px;
}

    #list ol {
        margin-top: 30px;
    }

        #list ol li {
            text-align: left;
            list-style: decimal;
            margin: 10px 0px;
        }

.button.ng-hide {
    display: none;
}

.comentario .item-content {
    background-color: rgba(0, 0, 0, 0.5);
}

.comentario p {
    color: #fff;
    margin-left: -25px;
    white-space: initial;
}

.comentario h4 {
    color: #ba7af5;
    margin-left: -25px;
}

.comentario img {
    width: 20px !important;
    height: 20px !important;
}

.comentario span {
    margin-right: 0px;
}

.comentario i {
    margin-left: 15px;
    font-size: 12px;
}

.scroll-comentarios {
    height: 100%;
}

    .scroll-comentarios .scroll {
        height: 100%;
        margin-bottom: 60px;
    }

.messages {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    padding-top: 0px;
}

    .messages .message {
        -webkit-box-flex: 1;
        -moz-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 10px;
        -webkit-transition: all 250ms ease-in-out;
        transition: all 250ms ease-in-out;
        overflow: hidden;
        text-align: left;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    .messages.other .message {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        text-align: right;
    }

        .messages.other .message.slide-right {
            -webkit-transform: translate3d(120px, 0, 0);
            -moz-transform: translate3d(120px, 0, 0);
            transform: translate3d(120px, 0, 0);
        }

    .messages.other span {
        color: #000;
        background-color: #e1bee7;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .messages span {
        background: #f3e5f5;
        display: inline-block;
        color: #000;
        padding: 10px;
        border-radius: 10px;
        text-align: left;
        max-width: 90%;
        padding-top: 0px;
        padding-bottom: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }

        .messages span p {
            font-size: 10px;
            text-align: right;
            padding-right: 0px;
            margin-right: 2px;
            margin-bottom: 0px;
            padding-bottom: 0px;
            float: right;
        }

button[disabled] {
    opacity: 0.5;
}

img {
    object-fit: cover;
}

.text-muted {
    color: #6d6d72 !important;
}
/* === Color Themes === */
.color-gray {
    color: #8e8e93 !important;
}

.color-red {
    color: #ff3b30 !important;
}

.bg-color-red {
    background-color: #ff3b30 !important;
}

.color-white {
    color: #ffffff !important;
}

.color-yellow {
    color: #ffcc00 !important;
}

.bg-color-yellow {
    background-color: #ffcc00 !important;
}

.color-green {
    color: #4cd964 !important;
}

.color-orange {
    color: #ff9500 !important;
}

.bg-color-orange {
    background-color: #ff9500 !important;
}

.color-blue {
    color: #007aff !important;
}

.bg-color-blue {
    background-color: #007aff !important;
}

.color-lightblue {
    color: #5ac8fa !important;
}

.bg-color-lightblue {
    background-color: #5ac8fa !important;
}

.color-bluegray {
    color: #607d8b !important;
}

.bg-color-bluegray {
    background-color: #607d8b !important;
}

.color-night {
    color: #2B1B17 !important;
}

.color-black {
    color: black !important;
}

.bg-color-white {
    background-color: #ffffff;
}

.bg-color-green {
    background-color: #4cd964 !important;
}

/*Profile Starts*/
.img-circle {
    border-radius: 50%;
}


.about-header {
    /*background-color: #444;*/
    height: 230px;
    overflow: hidden;
    /*box-shadow: 0 -70px 150px;*/
}

.about-image {
    width: 100%;
    /*height: 220px;*/
    height: 100%;
    object-fit: cover;
}

.like-btn {
    top: 130px;
    display: block;
    position: absolute;
}


.like-button {
    border-radius: 500px;
    width: 70px;
    float: right;
    height: 70px;
    z-index: -200;
    text-align: center;
    overflow: hidden;
    clear: both;
    color: white;
    border: 5px solid #CBD0D3;
}

    .like-button i {
        font-size: 40px;
        margin: 11px 0;
        display: block;
    }

.like-button-with-text {
    border-radius: 500px;
    width: 70px;
    float: right;
    height: 70px;
    z-index: -200;
    text-align: center;
    overflow: hidden;
    clear: both;
    color: white;
    border: 5px solid #CBD0D3;
}

    .like-button-with-text i {
        font-size: 35px;
        margin: 4px 0;
        display: block;
        margin-bottom: -3px !important;
    }

    .like-button-with-text span {
        font-size: 11px;
    }

.profile-media {
    background: #000;
    min-height: 237px;
    overflow: hidden;
    position: relative;
}

    .profile-media .profile-background-image {
        opacity: 0.3;
        position: absolute;
        object-cover: fit;
        top: -100%;
        left: 0;
        right: 0;
        bottom: -100%;
        margin: auto;
    }

    .profile-media .profile-details {
        text-align: center;
        position: absolute;
        width: 100%;
        color: #fff;
        padding: 20px 5% 0 5%;
    }

        .profile-media .profile-details .profile-image {
            width: 76px;
            height: 76px;
            object-cover: fit;
            border: 4px solid rgba(255, 255, 255, 0.9);
        }

.item-input-wrapper-search {
    border: none !important;
}

.filter-bar-search {
    border-bottom: solid 1px #fff !important;
}

.center {
    text-align: center !important;
}
