<ion-view title="Tinder" class="bg-grey">
  <ion-nav-buttons side="left">
    <button class="button button-grey button-clear" nav-direction="back" ui-sref="home.settings">
      <i class="icon ion-person"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-grey button-clear" nav-direction="forward" ui-sref="home.matches">
      <span class="dot-notification"></span>
      <i class="icon ion-chatbubbles"></i>
    </button>
  </ion-nav-buttons>

  <ion-nav-title>
	<button class="button button-clear button-royal m-t-xs">
      <i class="icon ion-android-happy"></i>
    </button>
  </ion-nav-title>	
	<div class="bar bar-subheader item-input-inset bar-no-border bg-dark">
		<label class="item-input-wrapper">
			<i class="icon ion-search placeholder-icon"></i>
			<input type="search" ng-model="search.nome" placeholder="Encontrar Balada...">
		</label>	
	</div>

	<ion-content class="has-subheader">
		<spinner-local show="show"></spinner-local>
		<div ng-repeat="empresa in empresas | filter: search" ng-click="goToEmpresa(empresa.$id)">        
			<figure class="cap-top">
				<img width="100%" ng-src="{{empresa.img.src}}" preload-image default-image="img/no-image.png"/>
				<figcaption class="bg-titulo-baladas">
					{{empresa.nome}} <span class="float-right">{{empresa.qtdComentarios}} <i class="ion-chatbox-working"></i> {{empresa.qtdUsuarios}} <i class="ion-person-stalker"></i></span>
				</figcaption>
			</figure>
		</div>
	</ion-content>
</ion-view>