<ion-view id="page-perfil">
    <ion-nav-buttons side="left">
        <button class="button button-clear" nav-direction="back" ng-click="goBack()">
            <i class="icon ion-arrow-left-c royal"></i>
        </button>
    </ion-nav-buttons>
    <ion-nav-title class="color-white">
        {{usuarioPerfil.nome}}
    </ion-nav-title>

    <ion-content class="bg-grey" has-bounce="true">
        <div class="animated bg-header-gradient">
            <figure class="cap-top">
                <img width="100%" ng-src="{{usuarioPerfil.img.src}}" preload-image default-image="img/no-image.png" />
                <figcaption style="font-size: 24px">
                    {{usuarioPerfil.nome}}, 24
                </figcaption>
            </figure>
        </div>
        <div id="content-perfil" class="wrapper b-b b-light text-muted text-md">
            <div class="b-b b-light">
                <div class="text-muted">
                    <br />
                    <p class="color-light-grey">{{usuarioPerfil.descricao}}</p>
                </div>
            </div>
            <div class="b-b b-light text-muted text-md">
                <div class="m-b-md font-bold text-u-c royal padding-top-15">Fotos <span class="rounded-matches text-center rounded color-white royal-bg">{{fotos.length}}</span></div>

                <div class="row no-padder" ng-repeat="foto in fotos" ng-if="$index % 3 === 0">
                    <div class="col col-33" ng-if="$index < fotos.length" on-tap="abrirImagemModal($index)" on-hold="removeFoto($index)">
                        <img preload-image ng-src="{{fotos[$index].thumb}}" default-image="img/no-image.png" class="w-full r-3x" alt="">
                    </div>
                    <div class="col col-33" ng-if="$index + 1 < fotos.length" on-tap="abrirImagemModal($index + 1)" on-hold="removeFoto($index + 1)">
                        <img preload-image ng-src="{{fotos[$index + 1].thumb}}" default-image="img/no-image.png" class="w-full r-3x" alt="">
                    </div>
                    <div class="col col-33" ng-if="$index + 2 < fotos.length" on-tap="abrirImagemModal($index + 2)" on-hold="removeFoto($index + 2)">
                        <img preload-image ng-src="{{fotos[$index + 2].thumb}}" default-image="img/no-image.png" class="w-full r-3x" alt="">
                    </div>
                </div>
            </div>
            <div class="text-muted text-md">
                <div class="m-b-md font-bold text-u-c royal padding-top-15">Interesses</div>
                <span class="button button-outline button-small button-stable text-c m-r-sm m-b-sm" ng-show="usuarioPerfil.filtro.estilo.eletronica">Eletronica</span>
                <span class="button button-outline button-small button-stable text-c m-r-sm m-b-sm" ng-show="usuarioPerfil.filtro.estilo.funk">Funk</span>
                <span class="button button-outline button-small button-stable text-c m-r-sm m-b-sm" ng-show="usuarioPerfil.filtro.estilo.rap">Rap</span>
                <span class="button button-outline button-small button-stable text-c m-r-sm m-b-sm" ng-show="usuarioPerfil.filtro.estilo.rock">Rock</span>
                <span class="button button-outline button-small button-stable text-c m-r-sm m-b-sm" ng-show="usuarioPerfil.filtro.estilo.samba">Samba</span>
                <span class="button button-outline button-small button-stable text-c m-r-sm m-b-sm" ng-show="usuarioPerfil.filtro.estilo.sertaneja">Sertanejo</span>
            </div>
        </div>
    </ion-content>
    <ion-floating-menu has-footer="true" bottom="20px" backdrop menu-color="#886aea" menu-open-color="#886aea">
        <ion-floating-item button-color="#886aea" icon="ion-image" click="addImagem()"></ion-floating-item>
        <ion-floating-item button-color="#886aea" icon="ion-edit" click="openEditProfileModal()"></ion-floating-item>
    </ion-floating-menu>
</ion-view>