<ion-modal-view class="bg-grey" id="modal-configuracao">
    <ion-header-bar class="bg-dark" style="border: none; background-image: none">
        <h1 class="title color-light-grey">Configurações</h1>
        <button class="button button-clear button-royal" style="font-size: 28px !important; padding-right: 5px !important" ng-click="closeSettingsModal()"><i class="ion-close-round"></i></button>
    </ion-header-bar>
    <ion-content>
        <div class="list m-n">
            <div class="item item-toggle">
                Visivel para outros usuários
                <label class="toggle toggle-royal">
                    <input type="checkbox" checked>
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-divider b-none text-u-c text-muted text-sm">Notificações</div>
            <div class="item item-toggle">
                Receber notificações
                <label class="toggle toggle-royal">
                    <input type="checkbox" ng-model="usuario.push.habilitado">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-toggle">
                Vibrar
                <label class="toggle toggle-royal">
                    <input type="checkbox" ng-model="usuario.push.vibrar">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-divider b-none text-u-c text-muted text-sm">Mostrar apenas</div>
            <div class="item text-center">
                Balada
            </div>
            <div class="item item-toggle">
                Eletrônica
                <label class="toggle toggle-royal">
                    <input type="checkbox" ng-model="usuario.filtro.estilo.eletronica">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-toggle">
                Sertaneja
                <label class="toggle toggle-royal">
                    <input type="checkbox" ng-model="usuario.filtro.estilo.sertaneja">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-toggle">
                Samba / Pagode
                <label class="toggle toggle-royal">
                    <input type="checkbox" ng-model="usuario.filtro.estilo.samba">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-toggle">
                Funk
                <label class="toggle toggle-royal">
                    <input type="checkbox" ng-model="usuario.filtro.estilo.funk">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-toggle">
                Rock
                <label class="toggle toggle-royal">
                    <input type="checkbox" ng-model="usuario.filtro.estilo.rock">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-toggle">
                RAP / Hip-Hop
                <label class="toggle toggle-royal">
                    <input type="checkbox" ng-model="usuario.filtro.estilo.rap">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item text-center">
                Sexo
            </div>
            <div class="item item-toggle">
                Homem
                <label class="toggle toggle-royal">
                    <input type="checkbox" ng-model="usuario.filtro.sexo.homem">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-toggle">
                Mulher
                <label class="toggle toggle-royal">
                    <input type="checkbox" ng-model="usuario.filtro.sexo.mulher">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
        </div>
        <div class="list m-n">
            <div class="item item-divider b-none"></div>
            <div class="item item-divider b-none text-u-c text-muted text-sm">Contact us</div>
            <div class="item text-center">
                Help & Support
            </div>
        </div>
        <div class="list m-n">
            <div class="item item-divider b-none"></div>
            <div class="item text-center">
                Share Tinder
            </div>
        </div>
        <div class="list m-n">
            <div class="item item-divider b-none"></div>
            <div class="item item-divider b-none text-u-c text-muted text-sm">Legal</div>
            <div class="item">
                Privacy Policy
                <span class="item-note">
                    <i class="icon ion-chevron-right"></i>
                </span>
            </div>
            <div class="item">
                Terms of Service
                <span class="item-note">
                    <i class="icon ion-chevron-right"></i>
                </span>
            </div>
            <div class="item">
                Licenses
                <span class="item-note">
                    <i class="icon ion-chevron-right"></i>
                </span>
            </div>
        </div>
        <div class="list m-n">
            <div class="item item-divider"></div>
            <div class="item text-center" ng-click="closeSettingsModal()" ui-sref="welcome">
                Sair
            </div>
            <div class="item item-divider text-center">
                <i class="icon ion-fireball assertive text-3x"></i>
                <br>
                Versão 1.0.0
            </div>
        </div>
        <div class="item item-divider b-none"></div>
        <div class="item text-center">
            Deletar Conta
        </div>
        <div class="item item-divider text-center">
        </div>
    </ion-content>
</ion-modal-view>
